@import '../../styles/variables.scss';

.apresentation {
  text-align: center;
  padding: 20px 0;
  color: white;
  line-height: 35px;
  
  @media #{$breakpoint-small}{
      padding: 40px;
  }
  .apresentation__title {
    margin-top: 15px;
    font-size: $xlarge;
    text-shadow: $textShadow
  }
  .apresentation__paragraph {
    margin-top: 10px;
    font-size: $large;
    text-shadow: $textShadow
  }
}
