@import '../../styles/variables.scss';

.details {
  background: #0000008a;
  box-shadow: 0px 2px 5px 0px $blueSecundary;
  padding: 10px;
  margin-bottom: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$breakpoint-small}{
    margin: $marginDetails;
  }
  @media #{$breakpoint-medium}{
    margin: $marginDetails;

  }
  @media #{$breakpoint-medium-large}{
    margin: $marginDetails;

  }
  .details__title {
    color: $yellowSecundary;
    font-size: $medium;
    text-align: center;
    text-shadow: $textShadow;
  }
}

