@import '../../../styles/variables.scss';

.detailsFilme {
  height: 200px;
  
  @include styleDetails;

  @media #{$breakpoint-small}{
    margin: $marginDetails;
    @include  paddingMobile;

  }
  @media #{$breakpoint-medium}{
    margin: $marginDetails;
  }
  
  .detailsFilme__title {
    font-size: $medium;
    color: $yellowSecundary;
    text-shadow: $textShadow;
  }
  p{
    color: $whiteClean;
    @media #{$breakpoint-small}{
      font-size: $xsmall;
    }
  }
}

