@import './../../styles/variables.scss';

//tirar daqui esse código e levar para o component error
.InputError {
    color: $whiteClean;
    text-align: center;
    font-size: $medium;
    text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.904);
    margin-bottom: 15px;
}




