@import './../../styles/variables.scss';

.InputError {
    color: $redBasic;
    text-align: center;
    font-size: $large;
    text-shadow: $textShadow;
    margin-bottom: 25px;
}
.category {
  font-size: $large;
  margin-bottom: 20px;
  color: $whiteClean;
  text-shadow: $textShadow;
}



