@import '../../../styles/variables.scss';

.detailsVehicles {
  height: 420px;

  @include styleDetails;

  @media #{$breakpoint-small}{
    margin: $marginDetails;
    height: 100%;
    @include  paddingMobile;

  }
  @media #{$breakpoint-medium}{
    margin: $marginDetails;
  }
  .detailsVehicles__title {
    font-size: $medium;
    color: $yellowSecundary;
    text-shadow: $textShadow;
  }
  p{
    font-size: $small;
    color: $whiteClean;
    @media #{$breakpoint-small}{
      font-size: $small;
    }
  }
}

