@import '../../../styles/variables.scss';

.detailsVehicles {
  height: 340px;

  @include styleDetails;

  @media #{$breakpoint-small}{
    margin: $marginDetails;
    @include  paddingMobile;

  }
  @media #{$breakpoint-medium}{
    margin: $marginDetails;
  }

  .detailsVehicles__title {
    font-size: $medium;
    color: $yellowSecundary;
    text-shadow: $textShadow;
  }
  p{
    color: $whiteClean;
    @media #{$breakpoint-small}{
      font-size: $xsmall;
    }
  }
}

