.row {
  margin-left: -5px;
  margin-right: -5px;
}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.collum {
  display: inline-block;
  vertical-align: top;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
}

@media (max-width: 580px) {
  .collum-2 {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  .collum-3 {
      width: 33.334%;
      margin: 0 auto;
  }
  .collum-2 {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 769px) and (max-width: 1050px) {
  .collum-3 {
      width: 33.334%;
      margin: 0 auto;
  }
  .collum-2 {
    width: 16.334%;
    margin: 0 auto;
  }
}
@media(min-width: 1051px){
  .collum-2 {
    width: 16.662%;
  }
}