/* Colors */
$bluePrimary: #0b0219;
$blueSecundary: #37aac5;
$whiteClean: #F5F5F4;
$yewllowBasic: #ceb504;
$purple: #6d018e;
$greyBasic: #59565a;
$yellowSecundary: #d0a104;
$redBasic: #de0b0b;

/* BreakingPoint */
$breakpoint-small: "(max-width: 580px)";
$breakpoint-medium: "(min-width: 581px) and (max-width: 768px)";
$breakpoint-medium-large: "(min-width: 768px) and (max-width: 1050px)";
$breakpoint-desk: "(min-width: 1051px)";

/* Fonts */
$light: 300;
$normal: 500;
$bold: 600;

$textShadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.904);

/*Sizes */
$xsmall: 1.6rem;
$small: 1.8rem;
$medium: 2.2rem;
$large: 2.6rem;
$xlarge: 3.4rem;
$xxlarge: 5.2rem;

/* Mixins */
@mixin transitionBlue {
  transition: all .4s ease;
  color: $whiteClean;
}
@mixin transitionHover {
  color: $blueSecundary;
  transition: background-color 3s ease-out;
}
@mixin styleDetails {
  background: #0000008a;
  box-shadow: 0px 2px 5px 0px $blueSecundary;
  margin-bottom: 15px;
  padding: 20px 0 0 20px;
}
@mixin Description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin DescriptionHeading {
  margin: 30px 0;
  text-align: center;
  font-size: $xlarge;
  color: $whiteClean;
  text-shadow: $textShadow;
  margin-left: 40px;
   span {
     border-bottom: 3px solid $yellowSecundary;
   }
}