/* Colors */
$bluePrimary: #070326;
$blueSecundary: #05d1ff;
$whiteClean: #F5F5F4;
$yellowPricinpal: #ffc500;
$purple: #6d018e;

/* BreakingPoint */
$breakpoint-mobile: "(max-width: 480px)";
$breakpoint-tablet: "(max-width: 600px)";
$breakpoint-tablet-land: "(max-width: 768px)";
$breakpoint-desk: "(max-width: 1200px)";

/* Mixins */
@mixin transitionBlue {
  transition: all 0.3s ease 0;
  color: $whiteClean;
}
@mixin transitionHover {
  color: $blueSecundary;
  transition: background-color 2s ease-out;
}