@import './../../styles/variables.scss';

.buttonSearch{
  text-align: center;
  padding: 0 0 20px 0;
  
  @media #{$breakpoint-small}{
    padding-left: 10px;
    padding-right: 10px;
  }
  button {
    color: $whiteClean;
    background: $yewllowBasic;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.904);
    cursor: pointer;
    font-size: $small;
    font-weight: bold;
    @include transitionBlue;
  }
  button:hover {
    background: $blueSecundary;
  }
}