@import './../../styles/variables.scss';

.buttonSearch{
  text-align: center;
  padding: 0 0 20px 0;
  
  @media #{$breakpoint-small}{
    padding-left: 10px;
    padding-right: 10px;
  }
  button {
    background: $yewllowBasic;
    padding: 10px;
    width: 100%;
    
    max-width: 400px;
    padding: 20px;
    text-shadow: $textShadow;
    cursor: pointer;
    font-size: $small;
    font-weight: bold;
    @include transitionBlue;
  }
  button:hover {
    background: $blueSecundary;
  }
  .butttonSearch__back {
    margin-top: 30px;
  }
}