@import './../../styles/variables.scss';

.search {
  text-align: center;
  padding: 20px 0 0 0;
  
  
  @media #{$breakpoint-small}{
    padding-left: 10px;
    padding-right: 10px;
  }
 
  input {
    padding: 20px;
    width: 100%;
    background: transparent;
    max-width: 400px;
    font-size: $small;
    color: $whiteClean;
    background-color: rgba(0, 0, 0, 0.4);
  }
  input::placeholder {
    color: rgb(172, 166, 166);
    text-align: center;
    text-shadow: $textShadow;
  }
  

  input:placeholder-shown {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  button {
    margin-left: 20px;
    background: blue;
    padding: 10px;
    color: white;
  }
}



