@import './../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin-left: auto;
  box-shadow: 0px 2px 5px 0px $blueSecundary;
  margin-right: auto;
  
  .header__logo--img {
    width: 20rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  @media #{$breakpoint-medium}{
    flex-direction: column;
    margin: 0 10px 0;
  }
  @media #{$breakpoint-medium-large}{
    margin: 0 10px 0;
  }
}
.header__navigation {
  list-style: none;
  @media #{$breakpoint-medium}{
    margin-top: 1.7rem;
  }
}
.header__navigation li {
  display: inline-block;
  padding: 0 20px;
  font-size: $medium;
}
.header__navigation li a {
  @include transitionBlue;
  border-bottom: 1px solid $blueSecundary;
  padding: 0.25rem;
  font-weight: bold;
  text-decoration: none;
}
.header__navigation li a:hover {
  color: $blueSecundary;
  transition: background-color 2s ease-out;
}



