@import '../../../styles/variables.scss';

.detailsPlanets {
  height: 290px;

  @include styleDetails;
  
  @media #{$breakpoint-small}{
    height: 100%;
    margin: $marginDetails;
    @include  paddingMobile;
  }
  @media #{$breakpoint-medium}{
    margin: $marginDetails;
  }
  @media #{$breakpoint-medium-large}{
    margin: $marginDetails;
  }
  .detailsPlanets__title {
    font-size: $medium;
    color: $yellowSecundary;
    text-shadow: $textShadow;
  }
  p{
    font-size: $small;
    color: $whiteClean;
    @media #{$breakpoint-small}{
      font-size: $small;
    }
  }
}

