@import './../../styles/variables.scss';

.footer {
  text-align: center;
  font-size: $small;
  padding: 40px 0;
  text-shadow: black 0.1em 0.1em 0.2em;;
  a {
    @include transitionBlue;
    text-decoration: none;
  }
  a:hover {
    @include transitionHover;
  }
}




